extends layout

block content
    #info Use WASD to fly, QE to tilt, & arrow keys to pivot. Click objects to see what they are!
    #act
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='/javascripts/three.js')
    script(src='/javascripts/ReusableRay.js.js')
    script(src='/javascripts/HexGrid.js')
    script(src='/javascripts/ColladaAnimation.js')
    script(src='/javascripts/ColladaAnimationHandler.js')
    script(src='/javascripts/ColladaKeyFrameAnimation.js')
    script(src='/javascripts/ColladaLoader.js')
    script(src='/javascripts/FlyControls.js')
    script(src='/javascripts/Detector.js')
    script(src='/javascripts/stats.js')
    script(src='/javascripts/gui.js')
    script(src='/javascripts/mainscript.js')