extends layout

block content
    #info Use wasd and arrow keys to navigate
        a(href='http://threejs.org') three.js
    script(src='/javascripts/three.js')
    script(src='/javascripts/ColladaAnimation.js')
    script(src='/javascripts/ColladaAnimationHandler.js')
    script(src='/javascripts/ColladaKeyFrameAnimation.js')
    script(src='/javascripts/ColladaLoader.js')
    script(src='/javascripts/FlyControls.js')
    script(src='/javascripts/Detector.js')
    script(src='/javascripts/stats.js')
    script(src='/javascripts/mainscript.js')